html, body {
  height: 100%;
  margin: 0;
}
.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url("https://donutismoral.neocities.org/selfportrait3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.center-box {
  display: flex;
  object-fit: fill;
  height: 90%;
  width: 90%;
  border: 4px solid green;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: hsla(351, 100%, 86%, .5);
}

.home-header {
  color: black;
  margin: 10px;
  padding: 10px;
  font-family: "Bitcount Prop Single";
  font-size: xx-large;
  font-weight: 400;
  background-color: greenyellow;
  border: 4px solid green;
  justify-content: center;
}

.button-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.button {
  color: darkmagenta;
  background-color: pink;
  border: 4px solid darkmagenta;
  font-family: "EB Garamond";
  font-size: medium;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

h1 {
    color: black;
    font-family: "Bitcount Prop Single";
    font-weight: 400;
    font-size: xx-large;
    padding: 0;
    margin: 10px;;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: pink;
  height: 75px;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.logo {
  height: 75px;
  justify-content: right;
  position: absolute;
  right: 10px;
  
}
.logo:hover {
  animation-name: spinAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}


.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.header-left button{
  color: black;
  background-color: pink;
  border: 2px solid darkmagenta;
  font-family: "EB Garamond";
  font-size: medium;
  border-radius: 10px;
  margin: 5px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-list button{
  color: black;
  background-color: white;
  margin: 10px;
  font-family: "Bitcount Prop Single";
  font-weight: 400;
  font-size: xx-large;
}

p {
  font-family: "EB Garamond";
  font-size: 25px;
  margin: 20px;  
  text-indent: 30px;
}

.empty-space {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.empty-space2 {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.empty-space3 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

h2 {
  font-family: "EB Garamond";
  font-size: 40px;
  margin: 15px;  
}

.image {
  display: flex;
  justify-self: center;

  width: 600px;
  max-width: calc(100vw - 30px * 2);
}

h3 {
  margin: 10px;
  font-family: "Bitcount Prop Single";
  font-weight: 400;
  font-size: 35px;
  color: magenta;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
}

a i{
  color: magenta;
  font-size: 40px;
}
a i:hover{
  color: green;
  font-size: 40px;
}

.poem {
  font-size: 16px;
}

@keyframes spinAnimation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.glorb:hover {
  animation-name: spinAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  flex-direction: row;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.gallery-nonimg {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 45%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.pop {
  width: 90%;
  height:90%;
  display: flex;
  object-fit: fill;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid green;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: hsla(351, 100%, 86%, .7);
  visibility: hidden;
  object-fit: scale-down;
}
.popup {
  visibility: visible;
}

.pop div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  object-fit: scale-down;
  max-height: 45vh;
}
.pop div img{
  width: 95%;
  height: 95%;
  object-fit: scale-down;
}

.closebutton{
  position:fixed;
  top:0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-color: white;
  border-radius: 0;
}

button:hover{
  background-color: darkgreen;
  color: white;
  border-color: yellowgreen;
  border-radius: 0;
}

@media screen and (min-width: 650px){
  .pop {flex-direction: row;}
  .pop div {max-height: 90vh;}
}


.pulse {
  animation-name: pulseAnimation;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes pulseAnimation {
  0%, 50% { transform: scale(1); }
  50% { transform: scale(1.15); }
}
