html, body {
  height: 100%;
  margin: 0;
}

.background {
  background-image: url("https://donutismoral.neocities.org/selfportrait3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.center-box {
  display: flex;
  object-fit: fill;
  height: 90%;
  width: 90%;
  border: 4px solid green;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: hsla(351, 100%, 86%, .5);
}

.home-header {
  color: black;
  margin: 10px;
  padding: 10px;
  font-family: "Bitcount Prop Single";
  font-size: xx-large;
  font-weight: 400;
  background-color: greenyellow;
  border: 4px solid green;
  justify-content: center;
}

.button-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.button {
  color: darkmagenta;
  background-color: pink;
  border: 4px solid darkmagenta;
  font-family: "EB Garamond";
  font-size: medium;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

h1 {
    color: black;
    font-family: "Bitcount Prop Single";
    font-weight: 400;
    font-size: xx-large;
    padding: 0;
    margin: 10px;;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: pink;
  height: 75px;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

.logo {
  height: 75px;
  justify-content: right;
  position: absolute;
  right: 10px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.header-left button{
  color: black;
  background-color: pink;
  border: 2px solid darkmagenta;
  font-family: "EB Garamond";
  font-size: medium;
  border-radius: 10px;
  margin: 5px;
}

button:hover{
  background-color: darkgreen;
  color: white;
  border-color: yellowgreen;
  border-radius: 0;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-list button{
  color: black;
  background-color: white;
  margin: 10px;
  font-family: "Bitcount Prop Single";
  font-weight: 400;
  font-size: xx-large;
}

p {
  font-family: "EB Garamond";
  font-size: large;
  margin: 20px;  
  text-indent: 30px;
}

.empty-space {
  display: flex;
  justify-content: center;
  margin: 10%;
}

h2 {
  font-family: "EB Garamond";
  font-size: x-large;
  margin: 15px;  
}

.image {
  display: flex;
  justify-self: center;

  width: 600px;
  max-width: calc(100vw - 30px * 2);
}

h3 {
  margin: 10px;
  font-family: "Bitcount Prop Single";
  font-weight: 300;
  font-size: xx-large;
  color: white;
}